**
!package.json
!package-lock.json
!tsconfig.json
!tsconfig.server.json
!eslint.config.mjs
!.prettierrc.json
!.prettierignore
!vite.config.ts
!playwright.config.ts
!compose.yaml
!index.html
!src/
!src/**
!tests/
!tests/**
!scripts/
!scripts/**
